<div class="example-container" [ngClass]="{'list': list}">
  <ng-container *ngFor="let item of items; let ind = index">
    <div class="element-container">
      <div>
        <div *ngIf="isDragged(ind)" class="cdk-drag-placeholder">
          <div class="example-box">
            {{item}}
          </div>
        </div>
        <div cdkDrag (cdkDragStarted)="dragStart(ind)" (cdkDragReleased)="dragEnd(ind)" (cdkDragMoved)="onMove($event, ind)" [ngClass]="{'not-dragged': !isDragged(ind)}">
          <div class="example-box">
            {{item}}
          </div>
        </div>

        <div class="example-line--after" *ngIf="closestLinkIndex === ind && closestLinkPosition === 'after'" [ngClass]="{'list': list}"></div>
        <div class="example-line--before" *ngIf="closestLinkIndex === ind && closestLinkPosition === 'before'" [ngClass]="{'list': list}"></div>
      </div>
    </div>
  </ng-container>
</div>

{{closestLinkIndex}}
{{closestLinkPosition}}
